<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Husqvarna Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <div class="menu-icon" id="menuIcon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <a href="lar"><img src="/static/husqvarna_logo.png" alt="Husqvarna Logo" class="logo"></a>
        <div class="profile-icon">
            <a href="login"><i class="bi bi-person-circle"></i></a>
        </div>
    </header>

    <nav id="sideMenu" class="side-menu">
        <ul>
            <li><a href="pre_cadastro">Pré-Cadastro</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Configurações</a></li>
        </ul>
    </nav>

    <main>
        <form class="login-form">
            <div class="form-group">
                <label for="login">LOGIN</label>
                <input type="text" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="senha">SENHA</label>
                <input type="password" id="senha" name="senha">
            </div>
            <button type="submit">ENTRAR</button>
        </form>
    </main>

    <footer>
        <p>Todos direitos reservados</p>
    </footer>

    <script src="/static/menu.js"></script>
</body>
</html>